.container {
  display: flex;
  position: fixed;
  left: 10%;
  right: 10%;
  top: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 14px 12px;
  font-size: 20px;
}

.button {
  margin-top: 20px;
  padding: 14px 12px;
  font-size: 20px;
  background: #f67172;
  color: white;
  border-radius: 4px;
}